# Ignorar el archivo .env
#.env

# Dependencias de Composer y Node.js
vendor/
node_modules/
build/

# Dependencias de Py para AWS
dependencias/

# Archivos de logs
*.log

# Configuraciones del sistema operativo
.DS_Store
Thumbs.db

# Otros
/src/frontend/poc/