<html>

    <!-- PLANTILLA DEL RECIBO (MODAL BOOTSTRAP-4) -->

    <div class="modal fade zindex-sobrecontrato con-backdrop" id="modal-print-recibo" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-scrollable modal-print-recibo-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="modal-print-recibo-titulo">Recibo 0000</span><i class="bi bi-info-circle-fill cursor-pointer pl-2" id="recibo-print-tooltip"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg pl-2"></i></button>
            </div>
            <div class="modal-body" id="div-recibo-windows" style="font-family: 'Courier New', monospace; font-size: 1.2rem;">
    
                <!-- data del recibo -->
                <div class="bg-white div-recibo-main-modal" id="div-recibo-main">
                    <div class="text-center">
                        <div class="pb-2">
                            <img class="_logo-base64" height="100" alt="LOGO" src="https://funerariaeleden.com/sys/assets/img/logo_print_min.jpg"/>
                        </div>
                        <div class="print-encabezado-texto" id="recibo-encabezado-texto">
                            <div class="texto-bold print-encabezado-empresa">Funeraria El Edén CN S.A.</div>
                            <div class="texto-bold small print-encabezado-cedjur">Ced. jur.: 3-101-739829</div>
                            <div class="texto-bold small print-encabezado-telefonos"></div>
                            <div class="texto-bold small print-encabezado-email">Email: admin@funerariaeleden.com</div>
                            <div class="texto-bold small print-encabezado-direccion"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="recibo-contenido" id="recibo-contenido">
                        <div class="div-print-seccion-inicial mb-3">
                            <text class="texto-bold recibo-print-fechayhora" id="recibo-print-fecha" data-g2="fecha">20-04-2019 11:59 p.m.</text>
                            <div class="texto-bold recibo-print-contrato" id="recibo-print-contrato" data-g2="contrato_doc">Contrato N°: 0001</div>
                            <div class="texto-bold recibo-print-nombre">Cliente: Vladimmir Pérez Beita</div>
                            <div class="texto-bold recibo-print-cedula">Cédula: 602550280</div>
                            <div class="texto-bold recibo-print-direccion">Dirección: Dirección de cobro, Ciudad, Provincia.</div>
                            <div class="texto-bold recibo-print-telefono">Teléfono: 00000000</div>
                        </div>
                        <div class="div-print-seccion">
                            <div class="texto-bold recibo-print-reciboid">Recibo N°: 100001</div>
                            <div class="texto-bold text-subrayado recibo-print-detalle">Mes: Abr-2019</div>
                            <!-- <div class="texto-bold recibo-print-monto d-none" id="recibo-print-monto" data-g2="monto">Recibimos la suma de: 10,000 (Diez mil Colones exactos).</div> -->
                            <!-- Líneas usuales: -->
                            <div id="recibo-print-lineas-estandar">
                                <div class="texto-bold recibo-print-saldoanterior">Saldo anterior: 0.00</div>
                                <div class="texto-bold recibo-print-descuento">Descuento: -0.00</div>
                                <div class="texto-bold recibo-print-saldoactualizado">Saldo actualizado: 0.00</div>
                                <div class="texto-bold recibo-print-pagado">Este abono: 0.00</div>
                                <div class="texto-bold recibo-print-saldo">Nuevo saldo: 0.00</div>
                            </div>
                            <!-- Líneas para salida contratos de Ahorro: -->
                            <div id="recibo-print-lineas-ahorro">
                                <div class="texto-bold recibo-print-saldoanterior">Disponible: 0.00</div>
                                <div class="texto-bold recibo-print-pagado">Valor del servicio: 0.00</div>
                                <div class="texto-bold recibo-print-este-pago">Pagado ahora: 0.00</div>
                                <div class="texto-bold recibo-print-saldo">Monto a favor: 0.00</div>
                            </div>  
                        </div>
                        <div class="div-print-seccion-final mt-3">
                            <div class="texto-bold recibo-print-condicion">ABONO</div>
                            <div class="texto-bold recibo-print-agente">Agente: Orlando Arteaga</div>
                            <div class="texto-bold recibo-print-celular">Tel: 8814-8004</div>
                            <div class="texto-bold recibo-print-diacobro">Fecha de pago: 10 de cada mes.</div>
                            <div class="texto-bold recibo-print-reimpreso"></div>
                            <hr>
                            <div class="texto-bold text-center pt-3" _style="font-family: arial narrow;">***SINPE: 8972-4541***</div>
                            <div class="texto-bold text-center">
                                <span>NÚMEROS DE EMERGENCIA:</span><br>
                                <span>8972-4541 | 8732-9494</span><br>
                            </div>
                            <!--<img class="d-none" id="recibo-print-barcode"/>-->
                        </div>
                        <!--<div class="text-center my-3" style="font-family: 'arial narrow'; line-height:2.2rem;">
                            <div style="font-size:1.3rem;">P A R T I C I P A &nbsp; E N &nbsp; L A</div>
                            <div class="texto-bold" style="font-size:2.6rem; font-weight: bolder;">PROMO 2023</div>
                            <div style="font-size:1.3rem;">funerariaeleden.com/promo</div>
                            <img src="https://funerariaeleden.com/sys/assets/img/promo_2023_qr.png" height="100" alt="PROMO 2023"/>
                        </div>-->
                    </div>
                    <div class="page-break"></div>
                </div>
    
            </div>
            <div class="modal-footer border-top justify-content-start">
                <div rol-admin>
                    <button type="button" class="btn btn-danger candado" data-g2="" id="btn-modal-cobro-delete" data-toggle="tooltip" data-placement="top" title="Reversar cobro"><i class="bi bi-trash"></i></button>
                    <button type="button" class="btn btn-warning candado" data-g2="" id="btn-modal-cobro-editar" data-toggle="tooltip" data-placement="top" title="Editar"><i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-primary btn-compartir-recibos" data-toggle="tooltip" data-placement="top" title="Compartir" data-contrato-id="contrato_id" data-recibo-id="recibo_id" data-cobro-id="cobro_id" data-cli-nombre="cli_nombre" data-cli-areacode="506" data-cli-telefono="cli_cel"><i class="bi bi-share-fill"></i></button>
                    <button type="button" class="btn btn-primary btn-recibo-email" data-toggle="tooltip" data-placement="top" title="Email"><i class="bi bi-send"></i></button>
                    <button type="button" class="btn btn-secondary cursor-default btn-recibo-noemail" data-toggle="tooltip" data-placement="top" title="Sin email"><i class="bi bi-send"></i></button>
                    <button type="button" class="btn btn-primary" id="btn-modal-recibo-imprimir" data-toggle="tooltip" data-placement="top" title="Imprimir"><i class="bi bi-printer"></i></button>
                </div>
                <div rol-agente>
                    <button type="button" class="btn btn-outline-dark d-none" id="btn-modal-recibo-cerrar" data-dismiss="modal">Cerrar<i class="bi bi-x-lg pl-2"></i></button>
                </div>
            </div>
          </div>
        </div>
    </div>

</html>